body{
	background: rgb(36,36,36);
	color: rgb(163,160,165);
	/* a dim, but visible grey(ish) */
}
.diff {
	display: table;
}
.pre {
	font-family: monospace;
	white-space: pre;
}
.line{
	clear: left;
	display:table-row;
}
.unchanged {
	display: none;
}
.expanded{
	display: table-row;
}
label {
	display: inline-block;
	cursor: pointer;
	color: #F3D39D;
}
input[type=checkbox] {
	display: none;
}
#unchanged_checkbox:checked ~ * .unchanged {
	display: table-row;
}
.linenums{
	margin-right: 1rem;
	padding-right: 0.5rem;
	border-right: solid 1px #ccc;
	text-align: right;
	color: rgb(255,222,165);
	width:7em;
	text-overflow: ellipsis;
	display:table-cell;
	cursor: pointer;
}
.source{
	margin-left: 1rem;
	padding-left: 0.5rem;
	display:table-cell;
}
.bold {font-style: bold;}
.green { color: #79DB73;}
.red { color: #f1a340;}
.filename { 
	color: rgba(115, 120, 144, 1);
	font-family: sans-serif;
	font-size: 120%;
	padding-left: 6em;
	border-bottom: solid 1px rgba(115, 120, 144, 1);
}

.chrome {
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	background: rgba(235,235,235,0.85);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-align: left;
	width: 100%;
	position: relative;
	left: -8;
	top: -8;
}

label {
  font-size: 1.4em;
  font-weight: 300;
  color: #222;
  max-height: 20px;
}

#unchanged_toggle{
	width: 30px;
	margin-top: -20px;
}
